{% extends 'layout.html.twig' %}

{% block title %}Page d'acceuil{% endblock %}

{% block section %}
	<div class="container">
		<p class="text-center">Cette page acffichera un Landing page si aucun utilisateur n'est connecté et la fil d'actualités si il est connecté</p>
	</div>
{% endblock %}
