{% if app.request.hasPreviousSession %}
    <div class="mt-2">
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="row mb-1">
                    <div class="col">
                        {# Bootstrap alert, see http://getbootstrap.com/components/#alerts #}
                        <div class="alert alert-{{ type }} alert-dismissible fade show rounded-0" role="alert">
                            {{message}}

                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}
