body {
    background-color: #f2f2f2;
}

.bg-white {
	background-color: white;
}

.nav-btn:hover {
	/* color: #e44d3a; */
}

.nav-link {
	color: white !important;
}

.nav-item:hover {
	/* border-bottom: 1px white solid; */
}

.btn-custom-outline-danger {
	color: #e44d3a;
	border: 1px solid #e44d3a;
}

.btn-custom-outline-danger:hover {
	color: white;
	background-color: #e44d3a;
}