{% extends 'layout.html.twig' %}

{% block title %}Page d'acceuil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href=" {{ asset('build/flux.css') }} ">
{% endblock %}

{% block section %}
	<div class="custom-container container-fluid">
		<div class="row my-2">
			<div class="col-lg-3">
				{% include 'user/user-summary.html.twig' %}
			</div>
			<div class="col-lg-5">
				<div class="row">
					<div class="col">
						{% include 'post/post-form.html.twig' %}
					</div>
				</div>
				{% include "default/_flash-message.html.twig" %}
				<hr>
				{% if post %}
					{% include 'post/post-card.html.twig' %}
				{% else %}
					 <div class="row">
					 	<div class="col">
					 		<div class="shadow border p-4 my-2 text-center rounded-0">Cette publication n'existe pas ou a été supprimé !</div>
					 	</div>
					 </div>   
				{% endif %}
			</div>
			<div class="col-lg-4 .d-none .d-lg-block .d-xl-none">
				{{ render(path('players_suggestion', {'id': app.user.id })) }}
				<div class="m-2"></div>
				{{ render(path('users_suggestion', {'id': app.user.id })) }}
			</div>
		</div>
	</div>
{% endblock %}