{% extends 'base.html.twig' %}

{% block title %}New PlayerNotice{% endblock %}

{% block body %}
    <h1>Create new PlayerNotice</h1>

    {{ include('player_notice/_form.html.twig') }}

    <a href="{{ path('player_notice_index') }}">back to list</a>
{% endblock %}
